.event {
    font-size: 14px;
    position: relative;
    width: 90%;
    padding: 10px;
    background-color: cornflowerblue;
    height: 100%;
    /*dynamic styles*/
    border-radius: 8px;
    top: 30px;
    color: #fff;
    &__title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}