@import './common.scss';
@import './variables.scss';
@import './header.scss';
@import './calendar.scss';
@import './create-event.scss';
@import './event.scss';
* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}